section {
  text-align: center;
}
.section-center {
  margin: auto;
  background-color: pink;
}
.text {
  width: 500px;
  height: 200px;
  margin: auto;
}
.title {
  text-decoration: underline;
}
button {
  font-size: 1.3rem;
}
.prev {
  border: none;
  background-color: white;
}
.next {
  border: none;
  background-color: white;
}
